<div class="col-md-10 col-centered">

  <div class="panel panel-info">
    <div class="panel-heading">
      <h2 class="panel-title">
        <%= @job.title%>
      </h2>
    </div>
    <div class="panel-body">
      <p>
      <%= simple_format(@job.description) %>
      </p>
    </div>
  </div>
  <div class="text-center">
   <%= link_to("投交履历", new_job_resume_path(@job), :style => "font-size: 20px; text-decoration:underline;") %>
  </div>
</div>
